.list-form-section {
    display: flex;
    flex-direction: column;
}

.list-form-section input {
    margin-left: 10px;
    width: 30%;
}

.list-form-section button {
    color: #282c34;
    font-weight: bold;
    background-color: #09d3ac;
    border: 1px solid #09d3ac;
    padding: 8px;
    margin-left: 15px;
}

.list-form-section button:hover {
    color: #09d3ac;
    background-color: #282c34;
    border: 1px solid #09d3ac;
}

.list-form-section button:active {
    color: #282c34;
    background-color: #c99a02;
    border: 1px solid #c99a02;
}

.top-margin {
    margin-top: 40px;
}