.lists-item {
    flex-grow: 1;
    padding: 20px;
    margin: 10px;
    border: 1px solid #09d3ac;
    border-radius: 5px;
}

.lists-item:hover {
    color: #282c34;
    background-color: #09d3ac;
    border: 1px solid #09d3ac;
    cursor: pointer;
}

.lists-item:active {
    color: #282c34;
    background-color: #c99a02;
    border: 1px solid #c99a02;
}